<%- include("../partials/headerAdminDashboard")%>
<section id="admin-home-content">
  <div class="admin-home-header">
    <h2 class="admin-home-title">ADMIN DASHBOARD</h2>
  </div>
  <div class="admin-home-body">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <p class="blocks-title">New Child Welfare Commitee</p>

          <a class="backbt" href="/admin/registerNewCwc/<%=admin.employee_id%>"
            >REGISTER</a
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <p class="blocks-title">New Child Welfare Commitee Employee</p>

          <a
            class="backbt btn-2"
            href="/admin/registerNewCwcEmployee/<%=admin.employee_id%>"
            >REGISTER</a
          >
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card">
          <p class="blocks-title">New District Provision Unit Employee</p>

          <a class="backbt btn-3" href="/admin/registerNewDcpuEmployee/<%=admin.employee_id%>">REGISTER</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <p class="blocks-title">New Admin</p>

          <a
            class="backbt btn-4"
            href="/admin/registerNewAdmin/<%=admin.employee_id%>"
            >REGISTER</a
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <p class="blocks-title">New State Official</p>

          <a
            class="backbt btn-5"
            href="/admin/registerStateOfficial/<%=admin.employee_id%>"
            >REGISTER</a
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <p class="blocks-title">For Others</p>

          <a class="backbt btn-6" href="/admin/others/<%=admin.employee_id%>"
            >REGISTER</a
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <p class="blocks-title">
            Criteria of eligibility for adoption
          </p>
          <br />
          <a
            class="backbt"
            href="/admin/dashboard/eligibilityCritegia/<%=admin.employee_id%>"
            >OPEN</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
