<%- include("../partials/headerAdminDashboard")%>

<section class="inline-flex mt-5 ml-5 pt-5 pl-5">
  <div>
    <h4 class="/admin/registerNewCwc/:<%=admin.employee_id%>">
      ADMIN DASHBOARD HOME
    </h4>
    <br /><br />
    <a href="/admin/registerNewCwc/:<%=admin.employee_id%>" class="btn jade"
      >Register New CWC</a
    >
    <br />
    <br />
    <a
      href="/admin/registerNewCwcEmployee/:<%=admin.employee_id%>"
      class="btn purple-gradient"
      >Register New CWC Employee</a
    >
    <br /><br />
    <a href="" class="btn salamander">Register New DCPU Employee</a>
    <br /><br />
    <a href="/admin/registerNewAdmin/:<%=admin.employee_id%>" class="btn jade"
      >Register New Admin</a
    >
  </div>
</section>
