<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    ="width=device-width, initial-scale=1.0">
    <title>Registering A New Child</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/scripts/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/CWC/cwcdashboard-childregistration.css">
    <link rel="stylesheet" href="/stylesheets/CWC/content_home.css">
</head>
<body>    
        <section id="sideMenu">
            <nav>
                <a class="active current" href="/cwc/dashboard/:<%= employee.employee_id %>"><i class="current2 fa fa-home" aria-hidden="true"></i>Home</a>
                <a class="active" href="cwc/dashboard/cciDetails:<%= employee.employee_id %>"><i class="fa fa-info" aria-hidden="true"></i> CCI Details</a>
                <a class="active" href="cwc/dashboard/eligibilityPool/:<%= employee.employee_id %>"><i class="fa fa-list-alt" aria-hidden="true"></i>Eligibility Pool</a>
                <a class="active" href="cwc/dashboard/childRegistration/:<%= employee.employee_id %>"><i class="current2 fa fa-id-badge" aria-hidden="true"></i>Child Registration</a>
                <a class="active" href="cwc/dashboard/cciRegistration"><i class="fa fa-building" aria-hidden="true"></i>CCI Registration</a>
                <a class="active" href="cwc/dashboard/cciEmployeeRegistration"><i class="fa fa-id-badge" aria-hidden="true"></i>Employee Registration</a>                
            </nav>
        </section>
        <header>
            <div class="logo">CARE</div>
            <div class="user-field">
                
                <a href="#">
                    <i class="fa fa-user-circle" aria-hidden="true"><%= employee.name%></i> 
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                
            </div>
                               
        </header>
        <header>
            <div class="logo">CARE</div>
            <div class="user-field">
               
                <a href="#">
                    <i class="fa fa-user-circle" aria-hidden="true"></i> 
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                
            </div>
                
                               
        </header>
        <section id="content-area">
            <div class="form-container">
            <div class="heading">
                <h3>Name Of CWC</h3>
            </div>
            <div class="main">
                <p class="name">heading one</p>
                <p class="discription">Description ....Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at eaque? Deleniti ea ad officiis, distinctio pariatur sapiente laudantium aliquid repellendus? Repudiandae, dignissimos unde magnam illum ab voluptas in ipsam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos commodi quae delectus recusandae in natus quo minima, repellat animi nisi praesentium accusantium laudantium libero reprehenderit amet dolores aut tempore impedit? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae eaque, cupiditate animi, incidunt reprehenderit molestiae non quam perferendis nulla id cumque? Laboriosam consequatur odit voluptas commodi itaque iste enim expedita!</p>
            </div>
            
        </div>
        </section>
       
       
    
    <script src="/scripts/sweetalert.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
   

    



</body>
</html>